{% extends 'VideotecaBundle:CintasVirgenes:default.html.twig' %}

{% block data %}
{{parent()}}
	<div class="row">
		<div class="text-center col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
			<h3 class="title-section">REGISTRAR CINTAS VIRGENES</h3>
		</div>
	</div>
	<div class="row">
		<div id="panel-inventario" class="col-xs-8 col-xs-offset-2">
			<div class="panel panel-success">
				<div class="panel-heading">CINTAS VIRGENES</div>
				<div class="panel-body">
					{% form_theme form 'VideotecaBundle:Form:bootstrap.html.twig' %}
					{{ form(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-5 col-xs-offset-2 col-sm-5  col-sm-offset-2 col-md-5  col-md-offset-2 col-lg-5 col-lg-offset-2">
			<a class="btn btn-default" href="{{ path('cintasvirgenes') }}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Volver</a>
		</div>
	</div>
{% endblock %}