<!-- Pie de Pagina -->
<footer>
    <div class="container">
        <div class="row">
            <!-- Derechos -->
            <div class="col-xs-4">
                <h6>La nueva Televisión del Sur C.A. (TVSUR) RIF: G-20004500-0</h6>
            </div>
            <!-- End Derechos -->

            <!-- Creditos -->
            <div class="col-xs-3 col-xs-offset-5">
                <h6>Sitio desarrollado y administrado por la Unidad de Aplicaciones y Desarrollo</h6>
            </div>
            <!-- End Creditos -->

        </div>  
    </div>
</footer>
<!-- Pie de Pagina -->