<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ha ocurrido un error: {{ status_text }}</title>
</head>
<body>
    <h1>Oops! Ha ocurrido un error</h1>
    <h2>El Servidor a retornado "{{ status_code }} {{ status_text }}".</h2>
</body>
</html>