{% extends 'VideotecaBundle:WrapperSegmento:Segmento/default.html.twig' %}

{% block data %}
	<div class="row">
		<div id="panel-segmento" class="col-xs-8 col-xs-offset-2">
			{% block container %}
				<div class="panel panel-success">
					<div class="panel-heading">{% block panelTitulo %}{% endblock %}</div>
					<div class="panel-body">
						{% block formulario %}
						    {% form_theme form 'VideotecaBundle:Form:bootstrap.html.twig' %}
							{{ form(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}
						{% endblock %}
					</div>
				</div>
			{% endblock %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5 col-xs-offset-2 col-sm-5  col-sm-offset-2 col-md-5  col-md-offset-2 col-lg-5 col-lg-offset-2">
			<a class="btn btn-default" href="{{ path('cinta_show', { 'id': cinta.id, 'slug': cinta.tipocinta.slug }) }}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Volver</a>
		</div>
	</div>
{% endblock %}
