<div id="intro" style="width: 90%;height: 450px;">
    <div><b><u>BIENVENIDOS AL SISTEMA DE SOPORTE TÉCNICO</u></b><br><br></div>

    <p>En esta secci&oacute;n se mostrara informaci&oacute;n de los servicios prestados por cada una de las unidades que selecciones en el panel izquierdo. Esta informaci&oacute;n es importante para que solicites el soporte a la Unidad correcta.</p>

    <p>Para que tu solicitud sea procesada en tiempo record y con la soluci&oacute;n m&aacute;s &oacute;ptima, se deben tomar en cuenta las siguientes consideraciones:</p>

    <ol>
        <li>1.- La solicitud debe explicar de manera precisa el inconveniente que se desea solucionar.</li><br>
            <li>2.- En caso de ser necesario acompa&ntilde;ar el caso de im&aacute;genes para una mejor comprensi&oacute;n.</li>
    </ol>

    <p>&nbsp;</p>

</div>    
<div id="soporte" style="overflow-y: scroll;width: 96%;height: 450px;display: none;">
    <div><b><u>SERVICIOS PRESTADOS POR SOPORTE USUARIO</u></b><br><br></div>
    <ul>
        <li>
        <p>Gestión Impresoras.</p>
        </li>
        <li>
        <p>Gestión Equipos.</p>
        </li>
        <li>
        <p>Gestión Cableado.</p>
        </li>
        <li>
        <p>Gestión Mudanza.</p>
        </li>
        <li>
        <p>Gestión Soporte Eventos.</p>
        </li>
        <li>
        <p>Gestión de telefonía.</p>
        </li>
    </ul>
</div>

<div id="serviciosWeb" style="overflow-y: scroll;width: 96%;height: 450px;display: none;">
    <div><b><u>SERVICIOS PRESTADOS POR SERVICIOS WEB</u></b><br><br></div>
<p><strong>1. Administraci&oacute;n de Usuarios: creaci&oacute;n de Usuario, configuraci&oacute;n de perfiles, modificaci&oacute;n de usuarios y eliminaci&oacute;n de usuarios</strong>&nbsp;</p>

<ul>
	<li>
	<p>Gestor de Contenido (CMS)</p>
	</li>
	<li>
	<p>Sistema de publicidad Administrador 3.0</p>
	</li>
	<li>
	<p>Cxense Google analytics</p>
	</li>
</ul>

<p><strong>2. Mantenimiento de Sistemas: actualizaciones y mejoras sobre m&oacute;dulos, templates, widgets entre otros, en los siguientes sistemas</strong></p>

<ul>
	<li>
	<p>Gestor de Contenido (CMS) P&aacute;gina Web Espa&ntilde;ol/Ingl&eacute;s</p>
	</li>
	<li>
	<p>Data Factory (Widgets)</p>
	</li>
	<li>
	<p>Sistema de publicidad Administrador 3.0 Cxense (Widgets)</p>
	</li>
	<li>
	<p>Google analytics Newsletter (Imolko)&nbsp;</p>
	</li>
</ul>

<p><strong>3. Resoluci&oacute;n de Incidencias</strong>&nbsp;</p>

<ul>
	<li>
	<p>Gestor de Contenido (CMS)</p>
	</li>
	<li>
	<p>P&aacute;gina Web Espa&ntilde;ol/Ingl&eacute;s Data Factory (Widgets)</p>
	</li>
	<li>
	<p>Sistema de publicidad Administrador 3.0 Cxense (Widgets)</p>
	</li>
	<li>
	<p>Google analytics Newsletter (Imolko)</p>
	</li>
	<li>
	<p>Streaming&nbsp;</p>
	</li>
</ul>

</div>



<div id="aplicaciones" style="overflow-y: scroll;width: 96%;height: 450px;display: none;">
    <div><b><u>SERVICIOS PRESTADOS POR APLICACIONES Y DESARROLLO</u></b><br><br></div>
    <p><strong>1. Administración de usuarios en los sistemas (Creacion, modificacion, eliminación de usuarios y gestión de perfiles.):</strong></p>

<ul>
	<li>
	<p>Siga</p>
	</li>
	<li>
	<p>Sigefirrhh</p>
	</li>
	<li>
	<p>Creatv</p>
	</li>
	<li>
	<p>Rel</p>
	</li>
	<li>
	<p>Aplicaciones Internas (Neto, Constancias, etc...)</p>
	</li>
</ul>

<p><strong>2. Gestión de incidencias de los sistemas (Atención de errores o eventualidades por mal uso de los sistemas o fallas de funcionamiento.):</strong></p>

<ul>
	<li>
	<p>Siga</p>
	</li>
	<li>
	<p>Sigefirrhh</p>
	</li>
	<li>
	<p>Creatv</p>
	</li>
	<li>
	<p>Rel</p>
	</li>
	<li>
	<p>Aplicaciones Internas (Neto, Constancias, etc...)</p>
	</li>
</ul>

<p><strong>3. Soporte de los sistemas (Atención de nuevos requerimientos y mejoras de los sistemas ya existentes.):</strong>&nbsp;</p>

<ul>
	<li>
	<p>Siga</p>
	</li>
	<li>
	<p>Sigefirrhh</p>
	</li>
	<li>
	<p>Creatv</p>
	</li>
	<li>
	<p>Rel</p>
	</li>
	<li>
	<p>Aplicaciones Internas (Neto, Constancias, etc...)</p>
	</li>
</ul>

</div>

<div id="plataforma" style="overflow-y: scroll;width: 96%;height: 450px;display: none;">
    <div><b><u>SERVICIOS PRESTADOS POR PLATAFORMA</u></b><br><br></div>
    <ul>
        <li>
        <p>Servicio de Correo.</p>
        </li>
        <li>
        <p>Servicio de Telefonía.</p>
        </li>
        <li>
        <p>Servicio de Dominio.</p>
        </li>
        <li>
        <p>Servicio FTP.</p>
        </li>
        <li>
        <p>Firewall.</p>
        </li>
        <li>
        <p>Servicio de WiFi.</p>
        </li>
        <li>
        <p>Servicio VPNi.</p>
        </li>
        <li>
        <p>Servicio de Volicon.</p>
        </li>
        <li>
        <p>Servicio AntiSpam.</p>
        </li>
        <li>
        <p>Servicios de Red.</p>
        </li>
    </ul>
</div>
<br><br>