{% if not form.vars.valid %}
        <div class="alert alert-danger errores" style="width:70%;">
            <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
            <div>{{ form_errors(form.propietarioId) }}</div>
            <div>{{ form_errors(form.tipo) }}</div>
            <div>{{ form_errors(form.equipo) }}</div>
            <div>{{ form_errors(form.dependencia) }}</div>
        </div>
    {% endif %}
