/*
 ######    ########   ##    ##   ########   ########      ###     ##         ########    ######    
##    ##   ##         ###   ##   ##         ##     ##    ## ##    ##         ##         ##    ##   
##         ##         ####  ##   ##         ##     ##   ##   ##   ##         ##         ##         
##   ####  ######     ## ## ##   ######     ########   ##     ##  ##         ######      ######    
##    ##   ##         ##  ####   ##         ##   ##    #########  ##         ##               ##   
##    ##   ##         ##   ###   ##         ##    ##   ##     ##  ##         ##         ##    ##   
 ######    ########   ##    ##   ########   ##     ##  ##     ##  ########   ########    ######    
 */
html {
  font-size: 62.5%;
}
body {
  font-family: 'Arimo', sans-serif !important;
}
/*==============================
=            Header            =
==============================*/
#main-header {
  width: 100%;
  background-color: #eeeeee;
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#11000000, endColorstr=#11000000)";
  -webkit-box-shadow: 0 1px 5px #999999;
  -moz-box-shadow: 0 1px 5px #999999;
  -ms-box-shadow: 0 1px 5px #999999;
  -o-box-shadow: 0 1px 5px #999999;
  box-shadow: 0 1px 5px #999999;
}
#titulo h1 {
  float: right;
  font-size: 2.8px;
  font-size: 2.8rem;
}
#main-logo {
  width: 60%;
  height: 80px;
  padding: 16px 10px 9px 0;
  margin: 0;
}
#img-container {
  padding: 10px;
}
/*======================================
=            Menu Principal            =
======================================*/
#title-menu {
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
  margin-top: 20px;
}
#subtitulo h2 {
  font-size: 30px;
  font-size: 3rem;
  color: #666;
  margin-right: 80px;
  text-align: center;
  font-weight: bold;
}
#main-menu {
  float: right;
  margin-top: 20px;
  margin-bottom: 6px;
}
#main-menu a {
  font-size: 14px;
  font-size: 1.4rem;
  color: #888;
  font-weight: bold;
}
#main-menu.nav-pills #prestamo.active,
#main-menu.nav-pills #prestamo:hover,
#main-menu.nav-pills #prestamo:focus {
  border-bottom: 3px solid rgba(3, 161, 92, 0.77);
}
#main-menu.nav-pills #prestamo.active a,
#main-menu.nav-pills #prestamo:hover a,
#main-menu.nav-pills #prestamo:focus a {
  height: 32px;
}
#main-menu.nav-pills #cinta.active,
#main-menu.nav-pills #cinta:hover,
#main-menu.nav-pills #cinta:focus {
  border-bottom: 3px solid rgba(255, 184, 11, 0.77);
}
#main-menu.nav-pills #cinta.active a,
#main-menu.nav-pills #cinta:hover a,
#main-menu.nav-pills #cinta:focus a {
  height: 32px;
}
#main-menu.nav-pills #segmento.active,
#main-menu.nav-pills #segmento:hover,
#main-menu.nav-pills #segmento:focus {
  border-bottom: 3px solid #0690cf;
}
#main-menu.nav-pills #segmento.active a,
#main-menu.nav-pills #segmento:hover a,
#main-menu.nav-pills #segmento:focus a {
  height: 32px;
}
#main-menu.nav-pills #inventario.active,
#main-menu.nav-pills #inventario:hover,
#main-menu.nav-pills #inventario:focus {
  border-bottom: 3px solid rgba(38, 31, 93, 0.77);
}
#main-menu.nav-pills #inventario.active a,
#main-menu.nav-pills #inventario:hover a,
#main-menu.nav-pills #inventario:focus a {
  height: 32px;
}
#main-menu.nav-pills > li.active > a,
#main-menu.nav-pills > li.active > a:hover,
#main-menu.nav-pills > li.active > a:focus,
#main-menu.nav-pills > li > a:hover {
  background: none;
}
/*=================================
=            Datatable            =
=================================*/
#example_filter {
  float: right;
}
.pagination {
  margin: 0;
  margin-bottom: 20px;
  float: right;
}
/*
 ######    ########   ##    ##   ########   ########   ####   ######       ###      ######    
##    ##   ##         ###   ##   ##         ##     ##   ##   ##    ##     ## ##    ##    ##   
##         ##         ####  ##   ##         ##     ##   ##   ##          ##   ##   ##         
##   ####  ######     ## ## ##   ######     ########    ##   ##         ##     ##   ######    
##    ##   ##         ##  ####   ##         ##   ##     ##   ##         #########        ##   
##    ##   ##         ##   ###   ##         ##    ##    ##   ##    ##   ##     ##  ##    ##   
 ######    ########   ##    ##   ########   ##     ##  ####   ######    ##     ##   ######    
 */
.oculto {
  display: none;
}
/* centered columns styles */
.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}
p {
 word-wrap: break-word;
}
/*
 ######    ########    ######    ##     ##  ########   ##    ##   ########    #######   
##    ##   ##         ##    ##   ###   ###  ##         ###   ##      ##      ##     ##  
##         ##         ##         #### ####  ##         ####  ##      ##      ##     ##  
 ######    ######     ##   ####  ## ### ##  ######     ## ## ##      ##      ##     ##  
      ##   ##         ##    ##   ##     ##  ##         ##  ####      ##      ##     ##  
##    ##   ##         ##    ##   ##     ##  ##         ##   ###      ##      ##     ##  
 ######    ########    ######    ##     ##  ########   ##    ##      ##       #######   
 */
/*==============================
=            Header            =
==============================*/
/*==========  Main Principal  ==========*/
#main-header {
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 10;
  height: 80px;
}
/*==========  Sub-Menu  ==========*/
#sub-menu {
  z-index: 8;
}
#sub-menu .row {
  min-height: 10px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: rgba(245, 245, 245, 0.9);
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-top: 4px;
}
#sub-menu .row .col-xs-2 {
  line-height: 30px;
}
.btn-primary {
  color: #fff;
  background-color: #0690cf;
  border-color: #0479AE;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #0690CF;
  border-color: #0479AE;
  outline: none !important;
}
/*==========  Bagde Prestamo  ==========*/
#wrapper-btnShop .btn-primary .badge {
  color: #FFF;
  background: transparent linear-gradient(to bottom, #db4b03 0px, #ff5b00) repeat scroll 0% 0%;
}
#wrapper-btnShop .badge {
  display: inline-block;
  min-width: 10px;
  font-weight: 700;
  line-height: 1;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777;
  border-radius: 10px;
  font-size: 11px;
  padding: 2px 5px;
  position: absolute;
  left: -8px;
  top: -7px;
}
#wrapper-btnShop a span {
  color: #0690cf;
}
/*===========================================
=            Contenido - SIDEBAR            =
===========================================*/
.sidebar {
  position: fixed;
  top: 82px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}
/*==========  FILTER  ==========*/
#filter-selected .panel-body {
  padding: 0;
}
#filter-selected .nav-pills > li > a {
  border-radius: 0px;
  background-color: #F6F6F6;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  font-size: 12px;
  font-size: 0.875em;
  text-indent: 10px;
}
.row-sidebar {
  width: 0;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.row-sidebar-active {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.btn-remove {
  float: right;
  color: #C4232A;
  line-height: 1.5;
}
.panel-body .nav {
  background-color: #F6F6F6;
}
.panel-title {
  font-size: 14px;
  font-size: 1.4rem;
}
#removeFilter {
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: 500;
}
#removeFilter:hover,
#removeFilter:focus,
#removeFilter .focus {
  color: #FFF;
  text-decoration: none;
  background-color: #5799D0;
}
.panel-group .panel + .panel {
  margin: 0px;
  padding: 0;
}
.panel {
  margin-bottom: 20px;
  background-color: #FFF;
  border-bottom: 1px solid #EEE;
  border-radius: 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  background-color: #EEEEEE !important;
  cursor: pointer;
}
.panel,
.panel-default {
  border-radius: 0px;
}
.panel-group .panel {
  margin-bottom: 0px;
  border-radius: 0px;
}
#cabecera {
  font-size: 18px;
  margin: 0;
  color: #FFF;
  font-weight: 400;
  padding: 4px 0px 4px 8%;
  background-color: #0690cf;
}
.panel-default > .panel-heading .badge {
  color: #F5F5F5;
  background: linear-gradient(to bottom, #db4b03 0px, #ff5b00 100%) !important;
  float: right;
  font-size: 1.1rem;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  padding: 14px;
}
.searchBtn {
  background-color: #5799D0;
  color: white;
  font-weight: 600;
}
.searchBtn:hover,
.searchBtn:focus,
.searchBtn .focus {
  background: #0479AE;
  color: #FFF;
  text-decoration: none;
}
.wrapper-btnFilter {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.btn-reset {
  margin: 0 auto;
  width: 100%;
  border-radius: 0;
  margin: 0;
  padding: 8px;
  border: 0;
}

.btn-submit {
  margin: 0 auto;
  width: 100%;
  border-radius: 0;
  margin: 0;
  padding: 8px;
  border: 0;
}

.etiqueta {
    white-space: nowrap;
    position: relative;
    margin: 0 5px 0 10px;
    display: inline-block;
    height: 26px;
    padding: 0 25px 0 15px;
    background-color: #EEEEEE;
    color: #666666;
    line-height: 23px;
    border-radius: 0 5px 5px 0;
    font-size: 12px;
    font-size: 1.2rem;
}

.etiqueta:before {
    content: "\25CF";
    position: absolute;
    left: -14px;
    width: 1px;
    height: 0px;
    color: white;
    text-shadow: 0 0 1px #333;
    font-size: 10px;
    line-height: 0px;
    text-indent: 12px;
    border-right: 14px solid #EEEEEE;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
 }

#filterActive {
  margin-bottom: 5px;
}

#btnfilterActive {
  border: 0;
  outline: none;
}

#btnfilterActive.active, 
#btnfilterActive.focus, 
#btnfilterActive:active, 
#btnfilterActive:focus {
    color: #333;
    background-color: #FFFFFF;
    border-color: #ADADAD;
}

#etiquetaActive {
  padding-left: 35px;
  margin-bottom: 5px;
  display: none;
}


/*===========================================
=            Contenido - MAIN            =
===========================================*/
.main {
  margin-top: 80px;
  overflow-x: hidden;
}
/*==========  CONTENIDO - ARTICULOS SEGMENTO  ==========*/
.circulo {
  border: 1px solid #0690cf;
  width: 30px;
  height: 30px;
  background-color: #0690cf;
  position: absolute;
  top: 7px;
  right: 38px;
  z-index: 5;
  cursor: pointer;
  -webkit-box-shadow: 1px 2px 2px #AAA;
  -moz-box-shadow: 1px 2px 2px #AAA;
  -ms-box-shadow: 1px 2px 2px #AAA;
  -o-box-shadow: 1px 2px 2px #AAA;
  box-shadow: 1px 2px 2px #AAA;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.cono {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 7px;
  right: 38px;
  z-index: 5;
  cursor: pointer;
}
.circulo span {
  color: #FFF;
  position: relative;
  top: 25%;
  left: 25%;
  z-index: 5;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.circulo:hover {
  width: 35px;
  height: 35px;
}
.circulo:hover span {
  width: 16px;
  height: 16px;
}
/*==========  Scrollbar  ==========*/
.scrollbar {
  height: 250px;
  overflow: auto;
  margin: 0;
  padding: 10px 20px 10px 20px;
  border-top: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.scrollbar.scroller {
  padding: 0;
}
.scrollbar.scroller .scroller-content,
.scrollbar.scroller-active .scroller-content {
  padding: 20px 40px 20px 20px;
}
.scroller p {
  margin: 0 0 20px;
}
.scrollbar.horizontal {
  height: 320px;
  padding: 0;
}
.wide_load {
  width: 2400px;
  overflow: hidden;
  padding: 20px 0 20px 20px;
}
.wide_load p {
  float: left;
  margin: 0 25px 0 0;
  width: 450px;
}
.advanced .scroller-handle {
  width: 10px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 3px;
  z-index: 2;
  border: 1px solid rgba(17, 102, 232, 0.77);
  cursor: pointer;
  background: rgba(17, 102, 232, 0.77);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.scrollbar.scroller .scroller-content,
.scrollbar.scroller-active .scroller-content {
  padding: 6px 4px 2px;
}
/*==========  Marco contenedor de Articulo  ==========*/
.marco {
  margin-bottom: 10px;
  min-height: 250px;
  overflow-y: hidden;
  -webkit-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}
.marco #contenido {
  overflow-y: auto;
  max-height: 200px;
}
.marco .list-group {
  font-size: 12px;
  font-size: 1.2rem;
  color: #333;
  font-style: normal;
  word-wrap: break-word;
  text-align: justify;
  vertical-align: text-top;
  word-spacing: normal;
}
.marco .list-group b {
  font-weight: bold;
}
.marco .list-group .list-group-item {
  border: 0;
  padding: 0px 4px 6px;
}
.marco #options-crud {
  background-color: #0690cf;
}
.marco #options-crud ul li {
  border-right: 1px solid #0771a1;
  border-bottom: 5px solid #0479AE;
}
.marco #options-crud ul li > a {
  color: #FFF;
  border-radius: 0 !important;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 20px;
}
.marco #options-crud ul li.active > a {
  background-color: none;
}
.marco #options-crud ul li > a:hover,
.marco #options-crud ul li > a:focus {
  background-color: #0477ab;
}
.marco #options-crud ul li:last-child {
  border-right: none !important;
}

.marco #options-crud .nav > li > a {
  position: relative;
  display: block;
  padding: 7px 15px;
}
.marco .label-primary {
  border: 1px solid #ddd !important;
  background-color: #fff !important;
}
.marco .label {
  font-size: inherit !important;
  color: inherit !important;
  font-weight: inherit !important;
  padding: 0.2em 0.6em 0.1em;
}
.highlight { background-color: yellow }

/*
########   ##      ## ########   
##     ##  ##  ##  ## ##     ##  
##     ##  ##  ##  ## ##     ##  
########   ##  ##  ## ##     ##  
##   ##    ##  ##  ## ##     ##  
##    ##   ##  ##  ## ##     ##  
##     ##   ###  ###  ########   
*/
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
