{% extends 'EstudioCabinaBundle::template.html.twig' %}

{% block body -%}
    <h1>EstudiosCabinas creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('estudioscabinas') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
