{% extends 'VideotecaBundle:WrapperCinta:Cinta/show.html.twig' %}

{% block dataCinta %}
    <div class="row wrapper-campos">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 theader">
            <span><b>Tipo de Cinta:</b></span>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <span></span>
        </div>
    </div>
    <div class="row wrapper-campos">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 theader">
            <span><b>Codigo:</b></span>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <span>{{ cinta.codigo }}</span>
        </div>
    </div>
    <div class="row wrapper-campos">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 theader">
            <span><b>Titulo:</b></span>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>
        </div>
    </div>
    <div class="row wrapper-campos">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 theader">
            <span><b>Formato:</b></span>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <span>BETACAM</span>
        </div>
    </div>
    <div class="row wrapper-campos">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 theader">
            <span><b>Duracion:</b></span>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <span>64 min</span>
        </div>
    </div>
    <div class="row wrapper-campos">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 theader">
            <span><b>Evento:</b></span>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <span>Master</span>
        </div>
    </div>
    <div class="row wrapper-campos">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 theader">
            <span><b>Categoria:</b></span>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <span>Corresponsalia</span>
        </div>
    </div>
    <div class="row wrapper-campos">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 theader">
            <span><b>Observaciones:</b></span>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó</p>
        </div>
    </div>
    <div class="row wrapper-campos">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 theader">
            <span><b>Categoria:</b></span>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <span>Corresponsalia</span>
        </div>
    </div>
{% endblock %}